Capstone_2/Project Report.docx
Capstone_2/Project_Presentation.pptx
Capstone_3/0D_trunc.csv
Capstone_3/0E_trunc.csv
Capstone_3/1D_trunc.csv
Capstone_3/1E_trunc.csv
Capstone_3/2D_trunc.csv
Capstone_3/2E_trunc.csv
Capstone_3/3D_trunc.csv
Capstone_3/3E_trunc.csv
Capstone_3/4D_trunc.csv
Capstone_3/4E_trunc.csv
Capstone_3/Project_Presentation.pptx
